.cakes_wrapper {
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 18.5%;
  background-color: grey; */
}

.cake {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 5px;
}

.img {
  width: 50%;
  height: 50%;
}
