.carousel_wrapper {
  box-sizing: border-box;
  /* border: 2px solid green; */
}
.carousel {
  /* border: 2px solid purple; */
}
.card {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 5px;
  margin: 0;
}

.img {
  width: 50%;
  height: 50%;
}
.carousel-control-next,
.carousel-control-prev {
}

.carousel > ol > li {
  background-color: darkgray;
  position: relative;
  top: 30px !important;
}

.carousel > a {
  filter: invert(100%);
}
